name: CI

on:
  push:
    paths-ignore: ["**.md", "**.adoc"]
  pull_request:
    paths-ignore: ["**.md", "**.adoc"]

jobs:
  test:
    runs-on: ubuntu-22.04
    continue-on-error: ${{matrix.emacs_version == 'snapshot'}}

    strategy:
      matrix:
        emacs_version: ["25.1", "26.1", "27.1", "28.1", "29.1"]

    steps:
      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{matrix.emacs_version}}

      - name: Install Eldev
        run: curl -fsSL https://raw.github.com/doublep/eldev/master/webinstall/github-eldev | sh

      - name: Check out the source code
        uses: actions/checkout@v2

      - name: Install node js for tree-sitter
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Install tree-sitter
        run: npm install -g tree-sitter-cli@0.19.3
      - name: Test the project
        run: |
          eldev prepare && eldev -p -dtT -C test
          eldev prepare && eldev -p -dtT -C compile --warnings-as-errors turbo-log.el
